.edit_icon {
  margin-left: 3px;
  width: 38px;
  height: 38px;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}

.edit_icon em {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}
